

.detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.detail img{
    border-radius: 50%;
    width: 30%;
    margin: 80px;
}

.detail div{
    margin: 80px;
    padding: 20px;
    font-size: 16px;
    color: black;
    background-color: rgb(170, 167, 167);
    border-radius: 15px; 
}

.detail div h2{
    font-size: 30px;
    text-align: center;
}

.detail div ul li{
    font-size: 26px;
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    text-align: center;
}