
*{
  font-family:Arial, Helvetica, sans-serif;
}

.dark{
  background-color: rgb(56, 56, 56);
  color:rgb(214, 214, 224) ;
}

.ligth{
  background-color: rgb(214, 214, 224);
  color: rgb(51, 74, 250);
}

.home, .fav{
  padding:30px;
  text-align: center;
}

.card-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.principal{
  width: 55%;
  display: center;
}

.dark .principal{
  opacity: 40%;
}

.home img, .fav img{
  width: 50%;
}