.home{
  padding:30px;
  text-align: center;
  background-color:rgb(214, 214, 224);
  color: rgb(51, 74, 250);
}


.card-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }