.card{
    text-align: center;
    font-size:18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px;
    border: solid 10px rgb(51, 74, 250) ;
    border-style: double;
    border-radius: 15px; 
    width:300px;
    height: 450px;
    justify-content: space-arround;
    align-items: center;
    background-color: rgb(170, 167, 167);
}

.card p {
    font-size: 20px;
    margin: 10px;
}

.card img{
    width: 100%;
}

.card a{
    text-decoration: none;
    color: rgb(51, 74, 250);
    padding: 5px;
    margin: 20px;
}

.card a:hover{
    margin: 30px
}

.card button {
    background-color: rgb(170, 167, 167);
    border: none;
    fill: rgb(51, 74, 250);
    width: 100% ;
}

.card button SVG:hover{
    font-size: 16px;
}



